# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directory
venv/

# Ignore requirements.txt if you don't want to include it in version control
requirements.txt

# Ignore readme
readme.txt