# In the requirements.txt file, list all the dependencies that your project needs to run. This includes Flask, SQLAlchemy, and other libraries that you've used in your project. You can generate a requirements.txt file by running the following command in your command-line interface:
// pip freeze > requirements.txt
pip freeze > requirements.txt